
@{
    ViewBag.Title = "causes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!--Page Title-->
<section class="page-title" style="background-image:url(@Url.Content("~/Content/mytemplate/")images/background/bg-page-title-1.jpg);">
    <div class="auto-container">
        <h1>Causes</h1>
        <div class="bread-crumb-outer">
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Causes</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">

                <!--Causes Classic-->
                <section class="causes-classic-view">

                    <!--Cause Box Two-->
                    <div class="cause-box-two">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="single-cause.html"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-8.jpg" alt=""></a></figure>
                                <div class="progress-box">
                                    <div class="bar">
                                        <div class="bar-inner animated-bar" data-percent="60%"><div class="count-text">60%</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-content">
                                <div class="post-header clearfix">
                                    <div class="pull-left">
                                        <h3><a href="single-cause.html">ENSURING BETTER LIFE</a></h3>
                                        <div class="cause-donation-info"><span class="donated">Donated: $58,000.00 /</span> <span class="total">$97,000.00</span></div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="donate.html" class="theme-btn btn-style-three"><span class="fa fa-heart"></span> &ensp; DONATE</a>
                                    </div>
                                </div>

                                <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world and empowerment.</div>
                            </div>
                        </div>
                    </div>

                    <!--Cause Box Two-->
                    <div class="cause-box-two">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="single-cause.html"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-9.jpg" alt=""></a></figure>
                                <div class="progress-box">
                                    <div class="bar">
                                        <div class="bar-inner animated-bar" data-percent="60%"><div class="count-text">86%</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-content">
                                <div class="post-header clearfix">
                                    <div class="pull-left">
                                        <h3><a href="single-cause.html">EDUCATION FOR ALL</a></h3>
                                        <div class="cause-donation-info"><span class="donated">Donated: $170,217,00 /</span> <span class="total">$217,000.00</span></div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="donate.html" class="theme-btn btn-style-three"><span class="fa fa-heart"></span> &ensp; DONATE</a>
                                    </div>
                                </div>

                                <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world and empowerment.</div>
                            </div>
                        </div>
                    </div>

                    <!--Cause Box Two-->
                    <div class="cause-box-two">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="single-cause.html"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-10.jpg" alt=""></a></figure>
                                <div class="progress-box">
                                    <div class="bar">
                                        <div class="bar-inner animated-bar" data-percent="60%"><div class="count-text">42%</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-content">
                                <div class="post-header clearfix">
                                    <div class="pull-left">
                                        <h3><a href="single-cause.html">HELP THE HOMELESS</a></h3>
                                        <div class="cause-donation-info"><span class="donated">Donated: $180,500,00 /</span> <span class="total">$408,000.00</span></div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="donate.html" class="theme-btn btn-style-three"><span class="fa fa-heart"></span> &ensp; DONATE</a>
                                    </div>
                                </div>

                                <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world and empowerment.</div>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- Styled Pagination -->
                <div class="styled-pagination">
                    <ul>
                        <li><a class="prev" href="#"><span class="fa fa-angle-double-left"></span></a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a class="next" href="#"><span class="fa fa-angle-double-right"></span></a></li>
                    </ul>
                </div>

            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <aside class="sidebar">

                    <!-- Search Form -->
                    <div class="widget search-box sidebar-widget">
                        <div class="sidebar-title"><h3>Search</h3></div>
                        <form method="post" action="http://wp1.themexlab.com/html2/preview-human-welfare/blog.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search the causes">
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>

                    </div>

                    <!-- Popular Categories -->
                    <div class="widget popular-categories sidebar-widget">
                        <div class="sidebar-title"><h3>CAUSE CATEGORIES</h3></div>

                        <ul class="list">
                            <li><a href="#">Awareness</a></li>
                            <li><a href="#">Children Aid</a></li>
                            <li><a href="#">Education</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Life Saving</a></li>
                            <li><a href="#">Seniors</a></li>
                        </ul>

                    </div>

                    <!-- Recent Posts -->
                    <div class="widget recent-posts sidebar-widget">
                        <div class="sidebar-title"><h3>POPULAR POSTS</h3></div>

                        <div class="post">
                            <figure class="post-thumb"><a href="#"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-11.jpg" alt=""></a></figure>
                            <h4><a href="#">Help to get education</a></h4>
                            <div class="desc-text">Retro tattooed tousled, disrupt portland synth slow-carb brooklyn fashion axe four loko narwhal craft beer salvia.</div>
                        </div>

                        <div class="post">
                            <figure class="post-thumb"><a href="#"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-12.jpg" alt=""></a></figure>
                            <h4><a href="#">Help for refugees</a></h4>
                            <div class="desc-text">Retro tattooed tousled, disrupt portland synth slow-carb brooklyn fashion axe four loko narwhal craft beer salvia.</div>
                        </div>

                        <div class="post">
                            <figure class="post-thumb"><a href="#"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-13.jpg" alt=""></a></figure>
                            <h4><a href="#">Earthquake in Nepal</a></h4>
                            <div class="desc-text">Retro tattooed tousled, disrupt portland synth slow-carb brooklyn fashion axe four loko narwhal craft beer salvia.</div>
                        </div>

                    </div>

                    <!-- Popular Tags -->
                    <div class="widget sidebar-widget popular-tags">
                        <div class="sidebar-title"><h3>TAG CLOUD</h3></div>

                        <a href="#">Awareness</a>
                        <a href="#">Educaton</a>
                        <a href="#">Food</a>
                        <a href="#">Children Aid</a>
                        <a href="#">Health</a>
                        <a href="#">Life Saving</a>
                        <a href="#">Seniors</a>
                        <a href="#">Homeless</a>

                    </div>

                </aside>
            </div><!--End Sidebar-->

        </div>
    </div>
</div>
